node_modules
**/node_modules
dist
dev-dist
**/.git
.gitignore
coverage
playwright-report
test-results
playwright/.cache
*.log
npm-debug.log*
.env
.env.local
.env.*.local
.vscode
.idea
Dockerfile
.dockerignore
docker-compose.yml
